.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.cabecalho a {
    background-color: rgb(240, 6, 104);
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 25px;
}

.cabecalho h1 {
    margin: 0;
    padding: 0;
}

.conteudo {
    height: 100%;
    background-color: rgb(189, 8, 84);
    padding: 25px;
}